.title {
    text-align: center;

    text-transform: uppercase;
}

.statList {
    display: flex;

    list-style: none;
}

.item {
    display: flex;

    padding: 30px;
}

.statistics__label {
    padding-bottom: 20px;
}